<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-6">
        <app-dona-chart title="Ventas" [labels]="labels1" [data]="data1"></app-dona-chart>
    </div>
    <div class="col-6">
        <app-dona-chart title="Compras" [labels]="labels2" [data]="data2"></app-dona-chart>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-dona-chart title="Pagos" [labels]="labels3" [data]="data3"></app-dona-chart>
    </div>
    <div class="col-6">
        <app-dona-chart></app-dona-chart>
    </div>
</div>

<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->